body { 
  /* background: url('../img/i1.jpg')  no-repeat center center fixed!important ; */
  background-image : linear-gradient(to right, rgba(3, 252, 140, 0.7), rgba(11, 224, 129, 0.7)) , url(../img/login-bg.jpg);
  font-family: "lato", sans-serif!important;
  background-size: cover!important;
  -webkit-background-size: cover!important;
  height: -webkit-fill-available!important;
  -o-background-size: cover!important;
  -moz-background-size: cover!important;
  /* background-repeat: no-repeat!important; */
	background-position: bottom!important;
  flex-direction: column!important;
  align-items: center;
  

}

element.style {
  height:100% ;
}
.container {

  margin-left: 0px;
}
.h2{
  margin-top: auto;
  margin-left: auto;
}
.text-white {
    color: #fff!important;
    margin-right: 10px !important;
    width: 1000px !important;
    background-color: rgba(85, 119, 88, 0.9)!important; 
    padding-right: 100px!important;
    
    
}
table{
  border-radius: 100px!important;
}
.tbdy
{
    font-weight: normal;
    background-color: aliceblue;
    font-weight: normal;
    
}
.col-8
{
  margin-left: auto!important;
  margin-right: auto!important;
}
:root {
    --main-bg-color: #F3F3F3;
    --toggle-color: #FFF;
    --toggle-bg-color: red;
    --toggle-bg-color-active:rgb(61, 240, 61);
    --toggle-width: 60px;
    --toggle-height: calc(var(--toggle-width) / 2)
  }
  
 
  .toggle-button {
    position: relative;
    width: var(--toggle-width);
    height: var(--toggle-height);
    -webkit-appearance: none;
    background-color: var(--toggle-bg-color);
    border-radius: var(--toggle-height);
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
    transition: background-color .5s;
    cursor: pointer;
  }
  
  .toggle-button:checked {
    background-color: var(--toggle-bg-color-active);
  }
  
  .toggle-button:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: var(--toggle-height);
    height: var(--toggle-height);
    background-color: var(--toggle-color);
    border-radius: calc(var(--toggle-height) / 2);
    transform: scale(1.1);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    transition: .5s;
  }
  
  .toggle-button:checked:before {
    left: var(--toggle-height);
  }

  
.box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-left: 35%;
    


}


 .profile 
{   background-color: rgba(85, 119, 88, 0.9);



    min-height: 355px;
    display: inline-block;
    

}

figcaption.ratings
{
    margin-top:20px;
    }
figcaption.ratings a
{
    color:#f1c40f;
    font-size:11px;
    }
figcaption.ratings a:hover
{
    color:#f39c12;
    text-decoration:none;
    }
.divider 
{
    border-top:1px solid rgba(0,0,0,0.1);
    }
.emphasis 
{
    border-top: 4px solid transparent;
    }
.emphasis:hover 
{
    border-top: 4px solid #1abc9c;
    }
.emphasis h2
{
    margin-bottom:0;
    }
span.tags 
{
    background: #1abc9c;
    border-radius: 2px;
    color: #f5f5f5;
    font-weight: bold;
    padding: 2px 4px;
    }
.dropdown-menu 
{
    background-color: #34495e;    
    box-shadow: none;
    -webkit-box-shadow: none;
    width: 250px;
    margin-left: -125px;
    left: 50%;
    }
.dropdown-menu .divider 
{
    background:none;    
    }
.dropdown-menu>li>a
{
    color:#f5f5f5;
    }
.dropup .dropdown-menu 
{
    margin-bottom:10px;
    }
.dropup .dropdown-menu:before 
{
    content: "";
    border-top: 10px solid #34495e;
    border-right: 10px solid transparent;
    border-left: 10px solid transparent;
    position: absolute;
    bottom: -10px;
    left: 50%;
    margin-left: -10px;
    z-index: 10;
    }



    .box4 {
      width: 100%;
    }
    .two {
        border-radius: 0 4px 4px 0;
        
    }
    
    /* pretty */
   
    
    input[type="text"] {
        border-radius: 4px;
        color: inherit;
        display: inline-block;
        line-height: normal;
        margin-bottom: 0.75em;
        padding: 12px 10px 10px;
        vertical-align: middle;
      border: 1px solid #ccc;
    }

    .row {
      display: flex;
      flex-wrap: wrap;
      padding: 0 4px;
    }
    
    /* Create two equal columns that sits next to each other */
    .column {
      flex: 50%;
      padding: 0 4px;
    }
    
    .column img {
      margin-top: 8px;
      vertical-align: middle;
    }