{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <title>Email Confirmation</title>
  <meta charset="utf-8">
  <!-- <link rel="stylesheet" href="{% static 'css/style1.css' %}"> -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body> 
 
<div style="margin-left: 0px;
margin-top: 20px;" class="container">
  <span style="font-size: 20px !important;" class="label label-info">We have send you an email click on link and try logging in again</span>
</div>

</body>
</html>
