{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>

    <title>HOME</title>
    
    <link rel="stylesheet" type="text/css" href="{% static 'css/style2.css' %}">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=YOUR_API_KEY&callback=initMap">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>

<body>
  
 <nav class="navbar navbar-expand-lg navbar-dark bg-dark">  
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" href="#">Login <span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link" href="">NGOs List</a>
      
    </div>
  </div>
</nav>
  
    <div id="home" class="pmg1">
      <div class="hometext">
        <span class="border">
          VISHUDH
        </span>
        <br/><span class="name">Team</span>
        <hr>
      </div>
    </div>
  
  

    <section id="about" class="section1">
    
   <h3>My Google Maps Demo</h3>
    <!-- map -->
    <div id="map"></div>

    </section>
  

    <!-- pie chart -->
    <div class="chart">
  
    <canvas id="mychart" height="200" width="200"></canvas>
    <script type="text/javascript" src="./j.js"></script>
  
</div>
    
    
  <div class="pmg4">
      <div class="hometext">
        <span class="border">
          IMAGE THREE TEXT
        </span>
      </div>
    </div>
    
    <section id="about" class="section1">
      <h1>SECTION TWO</h1>
      <p>ADD TEXT.</p>
    </section>

  <div class="pmg3">
      <div class="hometext">
        <span class="border">
          IMAGE THREE TEXT
        </span>
      </div>
    </div>
  
  <section id="about" class="section1">
      <h1>SECTION THREE</h1>
      <p>ADD TEXT</p>
    </section>
  
  <div class="pmg1">
  
  <h1>Our Team</h1>
  <div class="team">
    <div class="team_member">
      <div class="team_img">
        <img src="" alt="Team_image">
      </div>
      <h3>Paul Doe</h3>
      <p class="role">UI developer</p>
      <p>.</p>
    </div>
    <div class="team_member">
      <div class="team_img">
        <img src="" alt="Team_image">
      </div>
      <h3>Rosie Meg</h3>
      <p class="role">Tester</p>
      <p></p></div>
    <div class="team_member">
      <div class="team_img">
        <img src="" alt="Team_image">
      </div>
      <h3>Alex Wood</h3>
      <p class="role">Support Lead</p>
      <p></p>
    </div>
  
  <div class="team_member">
      <div class="team_img">
        <img src="" alt="Team_image">
      </div>
      <h3>Paul Doe</h3>
      <p class="role">UI developer</p>
      <p>.</p>
    </div>
    <div class="team_member">
      <div class="team_img">
        <img src="" alt="Team_image">
      </div>
      <h3>Rosie Meg</h3>
      <p class="role">Tester</p>
      <p></p></div>
    <div class="team_member">
      <div class="team_img">
        <img src="" alt="Team_image">
      </div>
      <h3>Alex Wood</h3>
      <p class="role">Support Lead</p>
      <p></p>
    </div>
  
</div>
      <div class="hometext">
      
        <span class="border">
          
        </span>
      </div>
    </div>
  

  
  <section id="contact" class="form">
    <div class="container-fluid">
	<div class="row">
      <div class="col-md-6 col-md-offset-3">
        <div class="well well-sm">
          <form class="form-horizontal" action="" method="post">
          <fieldset>
            <legend class="text-center">Contact me</legend>
    
            
            <div class="form-group">
              <label class="col-md-3 control-label" for="name">Name</label>
              <div class="col-md-9">
                <input id="name" name="name" type="text" placeholder="Your name" class="form-control">
              </div>
            </div>
    
            
            <div class="form-group">
              <label class="col-md-3 control-label" for="email">Your E-mail</label>
              <div class="col-md-9">
                <input id="email" name="email" type="text" placeholder="Your email" class="form-control">
              </div>
            </div>
    
            
            <div class="form-group">
              <label class="col-md-3 control-label" for="message">Your message</label>
              <div class="col-md-9">
                <textarea class="form-control" id="message" name="message" placeholder="Please enter your message here..." rows="5"></textarea>
              </div>
            </div>
    
            
            <div class="form-group">
              <div class="col-md-12 text-right">
                <button type="submit" class="btn btn-primary btn-lg">Submit</button>
              </div>
            </div>
          </fieldset>
          </form>
        </div>
      </div>
	</div>
</div>
  </section>
  


   <script>

// Initialize and add the map
function initMap() {
  // The location of Uluru
  var uluru = {lat: -25.344, lng: 131.036};
  // The map, centered at Uluru
  var map = new google.maps.Map(
      document.getElementById('map'), {zoom: 4, center: uluru});
  // The marker, positioned at Uluru
  var marker = new google.maps.Marker({position: uluru, map: map});
}
    </script>
     

</body>
</html>
