{% load static %}

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>NGO</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'css/style1.css' %}">
    <script async defer src="https://buttons.github.io/buttons.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.19.0/css/mdb.min.css" rel="stylesheet">
  
  </head>
  <body>
   <div class="c">
   <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/">Home<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/home/">Our Project<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/ngo-profile/">Profile<span class="sr-only">(current)</span></a>
      </li>
    </ul>
        <ul class="navbar-nav ml-auto">
           
          <li class="nav-item">
            <a href="/logout/" class="nav-link">
              <!-- logout -->
              <i class="fas fa-sign-out-alt"></i> Logout</a>
          </li>
          <div class="box">
            <div class="notifications">
            <i class="fa fa-bell" aria-hidden="true"></i>
            <span class="num">4</span>
            <ul class="not">
            <li>
             <!-- display cleaned locations -->
            <span class="icon" > <i class="fas fa-user"></i></span>
            <span class="text" > {{location}} is cleaned </span>
            </li>
             <li>



           

            </div>
            </ul>
          
          </div>
          </li>
           
        </ul>
      
        
      
    </nav>
  
  <div class="container-fluid">

      <div class="row"> 
      <div class="col-8">
        <h2 style="width:1120px!important" class="text-white p-2 "> Update Status</h2>
        <div class="container" style="margin-left:0px">
        <!-- display location of uncleaned areas-->
        <table class="table mt-3" id="t2">
          <thead class="table-dark">
            <tr>
              <th>SNo.</th>
              <th>Location</th>
              <th>Time</th>
              <th>Review</th>
              <th>View Images</th>
              
              
              <th></th>

            </tr>
          </thead>
          <tbody class="tbdy">
            {% for x in list %}
            <tr>


              <td>{{forloop.counter}}</td>
              <td>{{x.lat}},{{x.lon}}</td>
              <td>{{x.timestamp}}</td>
              <td>
                <form action="" method="get">
                  <input type="hidden" name="id" value="{{x.pk}}">
                  <input type="submit" class="btn" value="Review It" name="mybtn">
                </form>
              </td>
              <td>
                <form action="" method="get">
                  <input type="hidden" name="id" value="{{x.id}}">
                  <input type="submit" class="btn" value="View Image" name="mybtn2">
                </form>
              </td>

              

            
              <td></td>           
            </tr>
            {% endfor %}
            
          </tbody>
        </table>
            

      </div>
    </div>
     
  
  </div>
  <div>
  </div>

</body>
  

  
</html>
