<!DOCTYPE html>
<html lang="en">
<head>

     <link rel="stylesheet" type="text/css" href="css/style3.css">
</head>

<body>

<div class="main">
  <h1>NGOList</h1>
  <ul class="cards">
  <!-- display names, ratings and address of all NGOs-->
    <li class="cards_item">
      <div class="card">
        <div class="card_image"><img src=" ">Image if uploaded</div>
        <div class="card_content">
          <h2 class="card_title">Name of NGO</h2>
          <p class="card_text">Details of NGO</p>
          <h3> {{rating}}</h3>
        </div>
      </div>
    </li>
  
  </ul>
</div>
 



</body>
</html>
